@font-face {
        font-family: 'anka';
        src: url('ankacoder-r-webfont.woff2') format('woff2'),
             url('ankacoder-r-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    body{
      width: 100%;
      margin:0;
      color:#000;
      font-family:'anka', monospace;
    }

    h1{
      text-align: center;
    }

    main {
      display: flex;
      flex-direction: column;
      width: 60%;
      margin: auto;
      font-size: 1.2em;
      margin-top: 20px;
      margin-bottom: 300px;
    }

    #input{
      padding: 10px;
      width: 100%;
      height: 50px;
      border: 1px solid #000; 
    }

    #input:focus { outline: none; }

    button#submit{
      display:block; 
      text-align: center;
      background-color: #000;
      font-family:'anka', monospace;
      box-shadow: none;
      border: 1px solid #000; 
      padding: 5px;
      color: #FFF;
      cursor: pointer;
      margin: 10px 0 30px 0;
      font-size: 1em;
    }

    button#submit:hover{
        background-color: #FFF; 
        color: #000;
    }

    #controls {
      flex: 0 0 auto;
      margin-bottom: 10px;
    }

    #classes {
      flex: 0 0 30px;
      opacity:0;
      transition: opacity 1s ease;
      font-size: 0.8em;
      text-align:center;
    }

    #classes.active {
      opacity:1;
    }

    #tokens {
      flex: 1 0;
      font-size: 200%;
      margin-top: 1em;
      width: 100%;
      opacity:0;
      transition: opacity 1s ease;
    }

    #tokens.active{
      opacity:1;
    }

    .prediction-class {
      display: inline-block;
      border-bottom: 2px solid transparent;
      padding: 0.5em 0.5em .25em 0.5em;
      margin-right: 1em;
      margin-bottom: 0.5em;
      cursor: pointer;
      border: 1px solid #000;
      position:relative
    }


    .prediction-class.active, 
    .prediction-class:hover {
      // border-bottom: 2px solid currentColor;
    }

    .prediction-class.active-prediction {
      background: rgb(0,255,0);
    }

    .prediction-class:hover, .prediction-class.active  {
      color: blue;
    }
    .prediction-class::after{
      content: "Cliquez sur une autre catégorie pour voir les résultats de chaque mot";
      position:absolute;
      opacity:0;
      transition: opacity 0.2s linear;
      width: 200px;
      font-size: 12px;
      background-color: blue;
      color: #FFF;
      padding: 5px 0;
      z-index: 999;
      top: -1px;
      right:-205px;
      // transform:translateX(-50%);
      pointer-events: none;
    }

    .prediction-class:hover::after{
      opacity:1;
    }

    .token {
      display: inline-block;
      padding: 0 .5em;
      vertical-align: middle;
      transition: all .25s;
      position: relative;
      margin-bottom: 50px;
    }

    .token p{
      font-size: 13px;
      position:absolute;
      text-align: center;
      width: 100%;
      background: #FFF;
    }

    .token p.prob-number{
      top: 70%;
      left: 0;
      cursor: pointer;
    }
    .token p.count-number{
      top: -28px;
      left: 0;
      cursor: pointer;
    }

    .token p.prob-number:hover, .token p.count-number:hover{
      color: blue;
    }

    .token p.prob-number::after{
      content: "Probabilité que le mot appartienne à cette catégorie, 0 étant la plus grand probabilité";
      position:absolute;
      opacity:0;
      transition: opacity 0.2s linear;
      width: 200px;
      font-size: 12px;
      background-color: blue;
      color: #FFF;
      padding: 5px 0;
      z-index: 999;
      top: -1px;
      right:-205px;
      // transform:translateX(-50%);
      pointer-events: none;
    }

    .token p.prob-number:hover::after{
      opacity:1;
    }

    .token p.count-number::after{
      content: "Nombre de fois que le mot apparait dans cette catégorie dans le jeu de données";
      position:absolute;
      opacity:0;
      transition: opacity 0.2s linear;
      width: 200px;
      font-size: 12px;
      background-color: blue;
      color: #FFF;
      padding: 5px 0;
      z-index: 999;
      top: -1px;
      right:-205px;
      // transform:translateX(-50%);
      pointer-events: none;
    }

    .token p.count-number:hover::after{
      opacity:1;
    }


    .token[data-weight="unknown"] {
      /**
      * Unseen token
      */
      color: #999;
    }
    
    textarea {
      font-family: inherit;
      font-size: inherit;
    }