@font-face {
    font-family: 'anka';
    src: url('fonts/ankacoder-b-webfont.woff2') format('woff2'),
         url('fonts/ankacoder-b-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'anka';
    src: url('fonts/ankacoder-bi-webfont.woff2') format('woff2'),
         url('fonts/ankacoder-bi-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'anka';
    src: url('fonts/ankacoder-i-webfont.woff2') format('woff2'),
         url('fonts/ankacoder-i-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'anka';
    src: url('fonts/ankacoder-r-webfont.woff2') format('woff2'),
         url('fonts/ankacoder-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
	width: 100%;
	margin:0;
	color:#000;
    font-family:'anka', monospace;
}

h1, h2, h3, h4, h5, h6{ }
a{color:#000;}
ul{margin:0;}
li{list-style:none;}
img{width:100%;}

main{
	width: 90%;
	margin: auto;
	font-size: 1.2em;
	margin-top: 20px;
	margin-bottom: 100px; 
}

.explanations-content p{
    font-size: 1.5em;
    line-height: 1.3;
}

.explanations-content h1{
    font-size: 2.2em;
}

.explanations{
/*    // display:none;*/
    display: block;
}

form{
    text-align: center;
}

form select option{
    font-size: 1.4em;
}

form input{
    font-size: 1.4em;
    display:block; 
    text-align: center;
    background-color: #000;
    font-family:'anka', monospace;
    box-shadow: none;
    border: 1px solid #000; 
    padding: 5px;
    color: #FFF;
}

form input:hover{
    background-color: #FFF; 
    color: #000;
}

.original-text{
    display: none;
    position: absolute;
    top: 300px;
    width: 48%;
    right: 0;
    padding-bottom: 100px;
    font-size: 0.8em;
}

.original-text h2{
    font-size: 28.8px;
}

.result-text{
    transition: all 1s linear;

}

.result-text h2{
    display: none;
}

.result-text.move{
    position: absolute;
    top: 300px;
    width: 48%;
    left: 0%;
    padding-bottom: 100px;
}

.again{
    display: none;
    font-size: 1.4em;
    text-align: center;
    background-color: #000;
    font-family:'anka', monospace;
    box-shadow: none;
    border: 1px solid #000; 
    padding: 5px;
    color: #FFF;
    cursor: pointer;
    margin-top: 40px;
}

.again:hover{
    background-color: #FFF; 
    color: #000;
}

.inprogress{
    display: none;
}

.inprogress h3, .inprogress h4{
    font-weight: normal;
    margin:10px 0;
    font-size: 1em;
}

.step-title{
    padding: 10px;
    text-align: center; 
    font-weight: normal;
    border: none;
    font-size: 1.4em;
    padding-top: 20px;
}

.text-content{
    margin-bottom: 500px;
    position: relative;
}

.inprogress{
    text-align: center; 
    padding: 20px 0 0 0;
    margin: 20px 0 0 0;
}


.split-by-sentences, .split-by-words, .tf, .relative{
	position: relative;
}

.space-sentence{
	/*// display: inline-block;*/
	width: 5px;
	height:20px;
	background-color: red;
	position: absolute;
	opacity: 0.8;
	display:none;
}

.space-word{
	/*// display: inline-block;*/
	width: 5px;
	height:20px;
	background-color: #00FF00;
	position: absolute;
	opacity: 0.8;
	display:none;
}


.lowercase-wrapper, .punctuation-wrapper, .tf-transform-wrapper{
	position:relative;
	display:inline-block;
}

.regular-word{
    opacity:1;
    display:inline-block;
}

.lower-word{
    opacity:0;
    display:inline-block;
    position:absolute;
}

.none{
    opacity:0;
}

.inline{
    display:inline;
}

.sentence{
    margin-right: 10px;
}

.word{
    margin-bottom: 5px;
}


.tf-transform-wrapper{
    display:none;
}

.tf-transform{
    display:none;
}

.idf-transform-wrapper{
    display:none;
}

.idf-transform{
    display:none;
}

.tfidf-transform-wrapper{
    display:none;
}

.tfidf-transform{
    display:none;
}

/* select custom */
.custom-select {
   height: 50px;
   overflow: hidden;
   width: 100%;
   font-family: 'anka', monospace;
   margin-bottom: 40px;
}

.custom-select select {
   background: #FFF;
   border: 1px solid #000;
   font-size: 1.5em;
   height: 50px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 100%;
   font-family: 'anka', monospace;
}

input[type="submit"]{
    cursor: pointer;
}

/* fraction, formula display*/
.formula{
    margin-bottom: 20px;
    text-align: center;
}

.calculating{
    margin-top: 10px;
    text-align: center;
}

.fraction {
    display: inline-block;
    vertical-align: middle; 
    margin: 0 0.2em 0.4ex;
    text-align: center;
}
.fraction > span {
    display: block;
    padding-top: 0.15em;
}
.fraction span.fdn {border-top: thin solid black;}
.fraction span.bar {display: none;}






