@font-face {
  font-family: 'unifont';
  src: url('../unifont-12.0.01.ttf');
}

body {
  font-family: unifont;
}

.main {
  width: 40%;
  margin: auto;
  padding: 2em;
}

.menu {
  padding: 1em;
}

a {
  text-decoration:none;
  color: red;
  border: 1px solid red;
  padding: 0.5em;
  cursor: pointer;
}

.red {
  color: red;
}


.fr {
  color:red;
}

#header:before,
#header:after {
  content: "*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*";
  overflow: hidden;
  display: block;
  max-width: 100%;
}

li {
  /*  padding-left: 2.3em; */
}

li > div > a {
  display: block;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 600px){
  .main {
    width: initial;
    padding: 1em;
  }
}
